server {
 listen 80;
 server_name cache.local;
 root /home/user/domains/projects/cache-test;
 access_log off;
 charset utf-8;
 
 
 include /etc/nginx/fastcgi_params;
 
 location ~* \.(jpg|png|gif|css|js|swf|flv|ico)$ { 
     expires max; 
     tcp_nodelay off; 
     tcp_nopush on; 
 }
 
 
 index index.php index.html;
 
 location / { 
    try_files $uri $uri/ @handler; 
    expires 30d; 
 }
 
 location @handler { 
    rewrite / /index.php; 
 }

 
 location ~ \.php$ { 
 
  if (!-e $request_filename) { 
     rewrite / /index.php last; 
  } 
  
  expires off; ## Do not cache dynamic content 
  default_type text/html; 
  charset utf-8; 
  if ($request_method = GET) {
    gzip off;  
    set $memcached_key "$request_uri";
    memcached_pass localhost:11211;
    error_page 404 502 504 = @cms; 
    add_header x-header-memcached true; 
	add_header Content-Encoding "gzip";
  } 
  if ($request_method != GET) { 
    fastcgi_pass phpfpm;
  } 
  
  
  
 } 
 
 location @cms {
    gzip on;
    include /etc/nginx/fastcgi_params;
    fastcgi_buffers 4 256k;
    fastcgi_buffer_size 128k;
    fastcgi_pass_header "X-Accel-Expires";
    fastcgi_pass_header "X-Accel-Redirect";
    fastcgi_read_timeout 300;
    fastcgi_send_timeout 300;
    fastcgi_connect_timeout 300;
    fastcgi_pass phpfpm;
    fastcgi_param SCRIPT_FILENAME $document_root/index.php;
    fastcgi_param SCRIPT_NAME /index.php;

 }
 
 location ~ /\. { deny all; }
 
 
 
 
 
 
 
 
}
